<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão do Sistema</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #FFFFE0;">
    <header class="header" style="background-color: #94210a; padding: 20px; text-align: center; color: white;">
        <img src="/images/icon/logo.png" alt="Atlética Fatec Zona Leste" class="logo" style="max-width: 150px; height: auto;">
        <h1>Gestão do Sistema</h1>
    </header>

    <nav class="navbar" style="display: flex; justify-content: space-between; align-items: center; padding: 10px 20px; background-color: #f1f1f1; color: #333;">
        <ul class="navbar-menu" style="list-style: none; display: flex; gap: 20px; margin: 0; padding: 0;">
            <li><a href="/consultarInscricao" style="color: #333; text-decoration: none;">Membros Inscritos</a></li>
            <li><a href="/consultarContato" style="color: #333; text-decoration: none;">Recados</a></li>
             <li><a href="/consultarModalidade" style="color: #333; text-decoration: none;">Modalidades Esportivas</a></li>
            <li><a href="/consultarEvento" style="color: #333; text-decoration: none;">Eventos</a></li>
            <li><a href="/consultarLoja" style="color: #333; text-decoration: none;">Produtos</a></li>
        </ul>
    </nav>

    {{{body}}}


    <script src="/scripts.js"></script>
</body>
</html>
